.navbar-nav .active {
    border-bottom: 2px solid #1b1b1b;
}

body {
    font-family:
        "Proxima Nova", "Helvetica Neue", "Helvetica", "Segoe UI",
        "Nimbus Sans L", "Liberation Sans", "Open Sans", FreeSans, Arial,
        sans-serif !important;
    animation: fadeInHold 1s linear !important;
}

.fadeOut {
    animation: fadeOutHold 0.5s linear !important;
}

.fadeIn {
    animation: fadeInHold 0.5s linear !important;
}

.container {
    max-width: 960px;
}

@keyframes fadeOutHold {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeInHold {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
